<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object"  src="http://www.gravatar.com/avatar/424242">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">user@email.com asked:</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras luctus ipsum vel enim pretium auctor.
        Aliquam tempor aliquet sapien a sollicitudin. Integer aliquam,
        nunc id varius finibus, sem sem semper nisi, sit amet tempor justo
        augue vel nulla. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Aenean laoreet cursus turpis, eu sagittis leo convallis vitae.
        Maecenas tempor commodo nunc vitae ornare.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
        data-target="#new-answer-modal">Submit new answer</button>
      </div>

      <%= render 'home/new_answer_form' %>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object"  src="http://www.gravatar.com/avatar/424242">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">user@email.com asked:</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Cras luctus ipsum vel enim pretium auctor.
          Aliquam tempor aliquet sapien a sollicitudin. Integer aliquam,
          nunc id varius finibus, sem sem semper nisi, sit amet tempor justo
          augue vel nulla. Interdum et malesuada fames ac ante ipsum primis in
          faucibus. Aenean laoreet cursus turpis, eu sagittis leo convallis vitae.
          Maecenas tempor commodo nunc vitae ornare.
        </div>
      </div>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object"  src="http://www.gravatar.com/avatar/424242">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">user@email.com asked:</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Cras luctus ipsum vel enim pretium auctor.
          Aliquam tempor aliquet sapien a sollicitudin. Integer aliquam,
          nunc id varius finibus, sem sem semper nisi, sit amet tempor justo
          augue vel nulla. Interdum et malesuada fames ac ante ipsum primis in
          faucibus. Aenean laoreet cursus turpis, eu sagittis leo convallis vitae.
          Maecenas tempor commodo nunc vitae ornare.
        </div>
      </div>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object"  src="http://www.gravatar.com/avatar/424242">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">user@email.com asked:</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Cras luctus ipsum vel enim pretium auctor.
          Aliquam tempor aliquet sapien a sollicitudin. Integer aliquam,
          nunc id varius finibus, sem sem semper nisi, sit amet tempor justo
          augue vel nulla. Interdum et malesuada fames ac ante ipsum primis in
          faucibus. Aenean laoreet cursus turpis, eu sagittis leo convallis vitae.
          Maecenas tempor commodo nunc vitae ornare.
        </div>
      </div>
    </div>
  </div>

</div>
